<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projection details</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:replace="/fragments/header :: header"> </div>
<div class="d-flex flex-row flex-wrap w-100">
    <div class="border border-primary rounded m-2">
            <div th:text="${#temporals.format(projection.dateAndTime, 'dd.MM.yyyy. HH:mm')}"></div>
            <div th:text="${projection.stage.name}" />
            <div class="border border-primary rounded m-2" th:each="seat: ${projection.stage.seatList}">
                <div th:text="${seat.rowName + ' ' + seat.positionInRow}"/>
            </div>
    </div>
</div>
</body>
</html>