<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Film details</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
    <div th:if="${film != null}">
        <h1><span th:text="${film.name}" >FILM.NAME</span></h1>
        <table>
            <tr>
                <td>Film name:</td>
                <td th:text="${film.name}" />
            </tr>
            <tr>
                <td>Film director:</td>
                <td th:text="${film.director}" />
            </tr>
            <tr>
                <td>Film genre:</td>
                <td th:text="${film.genre}" />
            </tr>
            <tr>
                <td>Film duration:</td>
                <td th:text="${film.duration}" />
            </tr>
            <tr>
                <td>Film rating:</td>
                <td th:text="${film.rating}" />
            </tr>
        </table>
    </div>
    <div sec:authorize="hasAuthority('ROLE_ADMIN')">
        <a th:href="${'/film/update/?id=' + film.id}" class="btn btn-success"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Ažuriraj film</a>
        <a th:href="${'/film/delete/?id=' + film.id}" class="btn btn-success"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Obriši film</a>
    </div>
    <a href="/film" class="btn btn-success"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Povratak na listu filmova</a>
</body>
</html>